<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		<div class="row justify-content-center" id="student_card">
			<div class="col-md-8">
				<div class="card">
					
					<div class="card-header" style="background-color: #93c572;">
						<div class="row">
							<div class="col-md-3">
								<h5 style="vertical-align: middle; line-height: 1.5; margin-top: 0.1em;">Student Login</h5>
							</div>
							<div class="col-md-6"></div>
							<div class="col-md-3">
								<button class="btn btn-secondary switch_to_teacher" onclick="change_form_login()">Switch to Teacher Login</button>
							</div>
						</div>
					</div>

					<div class="card-body">

						<!-- student form -->
						<form action="/login/student" method="post" id="student_form">

							<!-- student's email -->
							<div class="form-group row">
								<label for="email" class="col-md-3 col-form-label">EMAIL ADDRESS</label>
								<div class="col-md-8">
									<!-- automatically check for correctly formatted student dc email (regex in JavaScript: '\d{4}' is the same as '[0-9][0-9][0-9][0-9]' ) -->
									<input type="email" id="email" name="email" class="form-control" pattern="^[A-Za-z]+\d{4}\@dubaicollege.org$"
										placeholder="student_name_and_number@dubaicollege.org" required autofocus />
								</div>
							</div>

							<!-- student's password -->
							<div class="form-group row">
								<label for="password" class="col-md-3 col-form-label">PASSWORD</label>
								<div class="col-md-8">
									<input type="password" id="password" name="password" class="form-control" placeholder="enter a password" required />
								</div>
							</div>

							<!-- remember me button -->
							<div class="form-group row">
								<div class="col-md-8 offset-md-3">
									<label for="remember_me" style="margin-left: 0.5em;">REMEMBER ME</label>
									<div class="remember_me_float">
										<input type="checkbox" id="remember_me" name="remember_me" value="1" />
									</div>
								</div>
							</div>
		
							<!-- submit button -->
							<div class="row">
								<div class="col-md-8 offset-md-3">
									<button type="submit" class="btn btn-primary" value="Login">LOGIN</button>
									<a href="#" class="btn btn-link">Forgot Your Password?</a>
								</div>
							</div>

							<% if (message.error) { %>
								<div class="alert alert-danger" role="alert" style="margin-top: 1em;">
									<strong>
										<%= message.error %>
									</strong>
								</div>
							<% } %>
							
							<% if (message.success) { %>
								<div class="alert alert-success" role="alert" style="margin-top: 1em;">
									<strong>
										<%= message.success %>
									</strong>
								</div>
							<% } %>

						</form>

						<h5 style="margin-top: 1em;">Don't have an account? <a href="/sign_up">Sign up...</a></h5>

					</div>

				</div>
			</div>
		</div>

		<div class="row justify-content-center" id="teacher_card">
			<div class="col-md-8">
				<div class="card">
		
					<div class="card-header" style="background-color: #cccc00;">
						<div class="row">
							<div class="col-md-3">
								<h5 style="vertical-align: middle; line-height: 1.5; margin-top: 0.1em;">Teacher Login</h5>
							</div>
							<div class="col-md-6"></div>
							<div class="col-md-3">
								<button class="btn btn-secondary switch_to_student" onclick="change_form_login()">Switch to Student Login</button>
							</div>
						</div>
					</div>

					<div class="card-body">
		
						<!-- teacher form -->
						<form action="/login/teacher" method="post" id="teacher_form">

							<!-- teacher's email -->
							<div class="form-group row">
								<label for="email" class="col-md-3 col-form-label">EMAIL ADDRESS</label>
								<div class="col-md-8">
									<!-- automatically check for correctly formatted teacher dc email -->
									<input type="email" id="email" name="email" class="form-control" pattern="^[A-Za-z]+\.[A-Za-z]+\@dubaicollege.org$" placeholder="teacher_first_name.teacher_last_name@dubaicollege.org" required />
								</div>
							</div>

							<!-- teacher's password -->
							<div class="form-group row">
								<label for="password" class="col-md-3 col-form-label">PASSWORD</label>
								<div class="col-md-8">
									<input type="password" id="password" name="password" class="form-control" placeholder="enter a password" required />
								</div>
							</div>

							<!-- remember me button -->
							<div class="form-group row">
								<div class="col-md-8 offset-md-3">
									<label for="remember_me" style="margin-left: 0.5em;">REMEMBER ME</label>
									<div class="remember_me_float">
										<input type="checkbox" id="remember_me" name="remember_me" value="1" />
									</div>
								</div>
							</div>

							<!-- submit button -->
							<div class="row">
								<div class="col-md-8 offset-md-3">
									<button type="submit" class="btn btn-primary" value="Login">LOGIN</button>
									<a href="#" class="btn btn-link">Forgot Your Password?</a>
								</div>
							</div>

							<% if (message.error) { %>
								<div class="alert alert-danger" role="alert" style="margin-top: 1em;">
									<strong>
										<%= message.error %>
									</strong>
								</div>
							<% } %>
							
							<% if (message.success) { %>
								<div class="alert alert-success" role="alert" style="margin-top: 1em;">
									<strong>
										<%= message.success %>
									</strong>
								</div>
							<% } %>
		
						</form>

						<h5 style="margin-top: 1em;">Don't have an account? <a href="/sign_up">Sign up...</a></h5>
		
					</div>

				</div>
			</div>
		</div>

	</div>
</body>

<% include ../partials/script %>
<% include partials/script %>

</html>
