<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		<div class="row">
			<div class="col-md-12">

				<!-- ! practice using text files (writing + reading in JS + using blobs in MySQL) form -->
				<form action="/create_challenges/new_challenge" method="post">
					<!-- submit button -->
					<button type="submit" value="Create New Challenge">CREATE NEW CHALLENGE</button>
				</form>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
				<% if (typeof challenges_to_display === "undefined") { %>
					<h1>No Active Challenges</h1>
				<% } else { %>
					
					<table id="active_challenges">

						<tr>
							<th>Challenge Title</th>
							<th>Challenge Description</th>
							<th></th>
						</tr>

						<!-- create RAM (memory locations from 00 to 99) -->
						<% challenges_to_display.forEach((element, index) => { %>
							<tr>
								<td>
									<%= element.split('\n')[1].toString() %>
								</td>
								<td>
									<%= element.split('\n')[3].toString() %>
								</td>
								<td>
									<form action="/create_challenges/delete/<%= index.toString() %>" method="post">
										<button type="submit" value="delete_<%= index.toString() %>">Delete</button>
									</form>
								</td>
							</tr>
						<% }); %>
					</table>

				<% } %>

			</div>
		</div>
		
	</div>
</body>

<% include ../partials/script %>

</html>
