<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

			<div class="row">
				<div class="col-md-12">

					<!-- ! practice using text files (writing + reading in JS + using blobs in MySQL) form -->
					NEW CHALLENGE

				</div>
			</div>
</body>

<% include ../partials/script %>

</html>
