<div class="row">
	<div class="col-md-12">
		<div id=""RAM_wrapper">
			Random Access Memory
			<table id=""RAM">

				<!-- create RAM (memory locations from 00 to 99) -->
				<% for (var i = 0; i < 10; i++) { %>
					<tr>
						<% for (var j = 0; j < 10; j++) { %>
							
							<% var k = (i * 10) + j %>
							<% var k_str = k.toString() %>

							<% while (k_str.length < 2) { %>
								<% k_str = '0' + k_str %>
							<% } %>

							<td><%= k_str %><input id="memory_location_<%= k %>" type="text" value="000" /></td>
						
						<% } %>
					</tr>
				<% } %>

			</table>
		</div>
	</div>
</div>

<button onclick="test_onclick(LMC)">Click me</button>
<p id="test_p"></p>

<% include ./lmc_script %>
