<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include partials/menu %>

		<div class="row">
			<div class="col-md-12">

				<h1><%= message %></h1>
				<h2><%= error.status %></h2>
				<pre><%= error.stack %></pre>

			</div>
		</div>

	</div>
</body>

<% include partials/script %>

</html>
