<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include partials/menu %>
		<!-- route to ejs template with main assembly visualisation -->
		<% include partials/main_visualisation %>

	</div>
</body>

<% include partials/script %>

</html>
