<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include partials/menu %>

		<div class="row">
			<div class="col-md-12">

				<% if ((typeof name != "undefined" ? name : "")) { %>
					<h2>Hello <% (typeof title != "undefined" ? title : "") %></h2>
				<% } %>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
		
				<form action="/logout?_method=DELETE" method="post">
					<button type="submit">LOG OUT</button>
				</form>
		
			</div>
		</div>

	</div>
</body>

<% include partials/script %>

</html>
