<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include partials/menu %>

		INSTRUCTION SET STUFF (PROBABLY TABLE)

	</div>
</body>

<% include partials/script %>

</html>
