<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		HOW TO USE THIS WEBSITE/RESOURCE INFO

	</div>
</body>

<% include ../partials/script %>

</html>
