<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		<!-- HOW TO USE THIS WEBSITE/RESOURCE INFO -->

		<div class="row">
			<h4>LMC:</h4>
			<div class="col-md-6">
				<img style="width: 100%; height: 100%; object-fit: scale-down;" src="/images/LMC_top_half_explanation.png" alt="Explanation of Top Half of Home Page" />
			</div>
			<div class="col-md-6">
				<img style="width: 100%; height: 100%; object-fit: scale-down;" src="/images/LMC_bottom_half_explanation.png"
					alt="Explanation of Top Half of Home Page" />
			</div>
		</div>

		<br />

		<div class="row">
			<h4>Challenges:</h4>
			<h5>Teachers:</h5>
			<p>From the <b>CREATE CHALLENGES</b> page, Teachers have the ability to create, edit, and delete challenges. In addition to this, they can also assign any of these challenges to specific Students, or to a whole class by clicking the "Select All" button next to the respective class.</p>
			<br />
			<p>From the <b>VIEW STUDENT CHALLENGES</b> page, Teachers can first view their challenges that have been assigned to at least 1 Student, and those that simply haven't been assigned yet. After clicking on the "More Information" button for a challenge that has been assigned already, the Teacher will be able to see the Challenge Title and Challenge Description, as well as all the Students who have submitted, have yet to submit, or have failed to submit the challenge - with information about the due date, and completion date, if available. The Teacher can then view the Student's solution if the Student has already submitted this assignment.</p>

			<br />
			<h5>Students:</h5>
			<p>From the <b>VIEW SET CHALLENGES</b> page, Students are able to view their pending challenges to complete, their completed challenges, and the challenges that they have missed, along with all the available information - due data, and completion date if possible. For the challenges left to complete, the Student is able to submit their solution by clicking on the button next to the challenge, and this will take them to a new page which displays the Challenge Title and Challenge Description, and has an input field for the Student to paste in their Assembly Code solution to the problem. For completed challenges, Students can also see what their answer was by clicking the "View Answer" button next to the challenge.</p>
			<br />
		</div>

	</div>
</body>

<% include ../partials/script %>

</html>
