<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		INSTRUCTION SET STUFF (PROBABLY TABLE)

		<div class="row">
			<div class="col-md-2"></div>

			<div class="col-md-8">
				<object id="instruction_set_viewer" data="https://filestore.aqa.org.uk/resources/computing/AQA-75162-75172-ALI.PDF" type="application/pdf" width="100%">
					You can also view the pdf from the AQA website <a href="https://filestore.aqa.org.uk/resources/computing/AQA-75162-75172-ALI.PDF">here</a>.
				</object>
			</div>
			
			<div class="col-md-2"></div>
		</div>

	</div>
</body>

<% include ../partials/script %>

</html>
