/* main overall attribute stuff */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 1em;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	/* TODO: UNCOMMENT THIS AFTER DONE TESTING STUFF FOR MAIN VISUALISATION */
	/* overflow-x: hidden; */
}

.container-fluid {
	margin: 0;
	padding: 0;
}


/* all navbar stuff */
.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	position: relative;
	width: 100%;
	font-size: 1em;
	border-radius: 0.75em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: center;
}

.navbar_wrapper {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	vertical-align: middle;
}

.navbar_left, .navbar_right {
	display: flex;
	flex-flow: row nowrap;
}

.navbar_left {
	justify-content: flex-start;
	align-items: center;
}

.navbar_right {
	margin-left: auto;
	align-items: center;
}

/* so &#010; is a newline for the data of a tooltip */
.tooltip-inner {
	white-space: pre-wrap;
}

#navbar_user_indicator {
	position: absolute;
	max-height: 1.5em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.5em;
}

#navbar_title {
	color: whitesmoke;
	padding-left: 2em;
	padding-right: 1.25em;
}


/* form stuff - will be changed later for sure */
input {
	width: 100%;
}


/* main visualisation stuff */
#RAM_wrapper, #CPU_wrapper, #general_register_wrapper, #ALU_wrapper, #accumulator_wrapper, #PC_wrapper, #decode_unit_wrapper, #CIR_wrapper {
	border: 0.2em #AAAAAA solid;
}

#RAM_wrapper {
	height: 40em;
	display: flex;
	text-align: center;
}
/* attributes with ids starting with "memory_location_" */
[id^="memory_location_"] {
	text-align: center;
}
/* attributes with ids starting with "memory_" AND ending with "_wrapper" */
[id^="memory_"][id$="_wrapper"] {
	border: 0.05em #AAAAAA solid;
	padding: 0.15em;
	margin: 0.2em 0;
}

#code_wrapper {
	float: left;
}

#CPU_wrapper {
	height: 40em;
}

#general_register_wrapper {
	text-align: center;
	padding: 0.5em;
	margin: 0.075em 0.7875em;
	float: left;
}
[id^="general_register_"] {
	text-align: center;
}
[id^="register_"][id$="_wrapper"] {
	border: 0.05em #AAAAAA solid;
	padding: 0.15em;
}
/* attributes with ids starting with "register_" AND ending with "_wrapper", but not attributes with id "register_0_wrapper" or "register_9_wrapper" */
[id^="register_"][id$="_wrapper"]:not(#register_0_wrapper, #register_9_wrapper) {
	margin: 0.15em 0;
}

#CPU_column_2 {
	margin-left: -1em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#ALU_wrapper, #accumulator_wrapper, #PC_wrapper, #decode_unit_wrapper, #CIR_wrapper {
	text-align: center;
	padding: 0.5em;
	margin: 0.075em 0 0.5em 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#ALU, #accumulator, #PC, #decode_unit, #CIR {
	text-align: center;
	flex-grow: 1;
}

#ALU_wrapper {
	margin-top: 0.5em;
}

#CIR_wrapper {
	margin-bottom: 0.5em;
}
