/* main overall attribute stuff */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 1em;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.container-fluid {
	margin: 0;
	padding: 0;
}


/* all navbar stuff */
.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	position: relative;
	width: 100%;
	font-size: 1em;
	border-radius: 0.75em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: center;
}

.navbar_wrapper {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	vertical-align: middle;
}

.navbar_left, .navbar_right {
	display: flex;
	flex-flow: row nowrap;
}

.navbar_left {
	justify-content: flex-start;
	align-items: center;
}

.navbar_right {
	margin-left: auto;
	align-items: center;
}

#navbar_user_indicator {
	position: absolute;
	max-height: 1.5em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.5em;
}

#navbar_title {
	color: whitesmoke;
	padding-left: 2em;
	padding-right: 1.25em;
}


input {
	width: 100%;
}
