/* main overall attribute stuff */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	padding: 10px;
	font-size: 1em;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	position: relative;
	width: 100%;
	font-size: 1.5em;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
	z-index: 1;
}

.navbar_wrapper {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.navbar_left, .navbar_right {
	display: flex;
	flex-flow: row nowrap;
	z-index: 1;
}

.navbar_left {
	justify-content: flex-start;
	align-items: center;
}

.navbar_right {
	margin-left: auto;
	align-items: center;
}

#navbar_title {
	color: whitesmoke;
	padding-left: 0.5em;
	padding-right: 1.5em;
}
